DATABASE_URL=postgresql://user:password@localhost:5432/sohrabdb
NEXTAUTH_SECRET=change-me-secret
NEXTAUTH_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret
